@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@font-face {
  font-family: 'futura-bold';
  src: url("../fonts/Futura-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; 
}

body {
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #5c5c77; 
}

p, .paragraph {
  font-weight: 400;
  color: #5c5c77;
  font-size: 15px;
  line-height: 1.9;
  font-family: "Poppins", sans-serif; 
}

h1, h2, h3, h4, h5, h6 {
  color: #1e1e4b !important;
  font-family: "futura-bold";
  font-weight: 700;
  line-height: 1.2; 
}

/*input:invalid{
  border: 2px solid #e4a4ac;
}

textarea:invalid {
  border: 2px solid #e4a4ac;
}

:invalid {
  box-shadow: none;
}*/


